.hotelCard {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
  justify-content: space-between;
  max-width: 40rem;
  width: 100%;
  margin-bottom: 1rem;
}
.hotelCardMoreInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.hotelForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-block: 1rem;
  width: 100%;
}
